<header>
    <nav>
        <div>
            <h1>2D2P Solver</h1>
        </div>
        <div class="items"
            (click)="onActionClick($event)">
            <div id="actionAbout" 
                routerLink="about">
                <i class="fas fa-info-circle"></i>
            </div>
            <div id="actionSave">
                <i class="fas fa-save"></i>
            </div>
            <div id="actionOpen">
                <i class="fas fa-upload"></i>
            </div>
        </div>
    </nav>
    <div class="tabs">
        <div [className]="selectedTab == 0 ? 'active' : ''"
            (click)="onTabSelected(0)"
            routerLink="im">
            Investment
        </div>
        <div [className]="selectedTab == 1 ? 'active' : ''"
            (click)="onTabSelected(1)"
            routerLink="mrm">
            Machine replacement
        </div>
        <div [className]="selectedTab == 2 ? 'active' : ''"
            (click)="onTabSelected(2)"
            routerLink="wm">
            Workforce
        </div>
    </div>
</header>