.solutions-tree {
    padding: 32px 0px;
}

.solutions-tree > div {
    padding: 16px 48px;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 1px solid #212121;
    border-bottom: 1px solid #212121;
}

.solutions-tree > div > div {
    display: flex;
    height: 128px;
}

.solutions-tree > div > div > div.label {
    align-self: center;
    font-weight: bold;
}

.solutions-tree > div > div > div.item.label {
    border: none;
    font-weight: bold;
}

.solutions-tree > div > div > div.item {
    width: 64px;
    height: 64px;
    bottom: -28px;
    margin: 0px 64px;
    line-height: 64px;
    border-radius: 50%;
    border: 2px solid #212121;
}

.solutions-tree > div > div > div.item > div {
    align-self: center;
    text-align: center;
}

.solutions-tree > div > div > div.item > span {
    position: absolute;
    width: 128px;
    left: -32px;
    text-align: center;
}