<!-- ---------------------------------------- PAGE OPTIONS ---------------------------------------- -->
<app-options-bar [examplesNumber]="20"
                [l]="this">
</app-options-bar>

<!-- ---------------------------------------- PAGE DOCUMENTATION ---------------------------------------- -->
<app-page-documentation [hidden]="!showDocumentation"
                        [items]="pageDocumentation">
</app-page-documentation>

<!-- ---------------------------------------- EXAMPLE STATEMENT ---------------------------------------- -->
<app-example-statement [value]="example"></app-example-statement>

<!-- ---------------------------------------- TOP PANEL ---------------------------------------- -->
<div class="top-panel">
    <app-input-pane [model]="model"
                    [items]="inputPaneItems"
                    (timeUnitChange)="onTimeUnitChange($event)">
    </app-input-pane>
    <div class="next-button-container">
        <button id="nextButton" 
                class="btn btn-primary"
                (click)="onNext()">
            Next
        </button>
    </div>
</div>

<!-- ---------------------------------------- TABULAR INPUT ---------------------------------------- -->
<div id="inputTable" 
    [ngClass]="{ 'h': inputDataStep == 0 }">
    <app-tabular-input [header]="inputTableHeader"
                        [timeUnit]="timeUnitLabel"
                        [keyValue]="'workforce'"
                        [rows]="model.workforcePerTU">
    </app-tabular-input>
</div>
<div class="solve-button-pane" 
    [ngClass]="{ 'gone': inputDataStep == 0 }">
    <button id="solveButton"
            class="btn btn-primary"
            (click)="onSolve()">
        Solve
    </button>
</div>

<!-- ---------------------------------------- SOLUTION PANEL ---------------------------------------- -->
<div id="solutionPanel"
    [ngClass]="{ 'gone': inputDataStep < 2 }">
    <div class="divider"></div>
    <div class="stages"
        *ngFor="let stage of solver.getStages()">
        <p>STAGE {{ stage.id + 1 }}</p>
        <div>
            Minimum Demand: <strong>{{ stage.minimumDemand }}</strong> employees
        </div>
        <app-tabular-output [header]="getStageTableHeader(stage)"
                            [rows]="stage.rows">
        </app-tabular-output>
    </div>
    <div class="result">
        <p>Result chains</p>
        <div class="chains-container">
            <div class="chain">
                <div class="chains" *ngFor="let item of solver.getPath()">
                    <span>{{ item }}</span>
                </div>
                <span class="end">END</span>
            </div>
        </div>
        <div class="report">
            <p>Report of results</p>
            <app-tabular-output [header]="getReportTableHeader()"
                                [rows]="getReportTableRows()">
            </app-tabular-output>
        </div>
    </div>
</div>