<div>
    <div>
            <p>
                {{ appName }} - <strong>{{ appLongName }}</strong>
            </p>
        </div>
        <div class="par">
            <p>
                {{ aboutMsg }}
            </p>
        </div>
        <div class="par">
            <p>
                {{ contributionMsg }}
            </p>
        </div>
        <div class="par">
            <p>
                {{ educationMsg }}
            </p>
        </div>
        <div class="par">
            <p>
                {{ referencesMsg }}
                <span class="ref">
                    "{{ bookTaha }}"
                </span>
            </p>
        </div>
        <div class="appVersion">
            <p>
                {{ appName }} - v{{ appVersion }}
            </p>
        </div>
</div>