<i
  class="fas fa-question-circle"
  (click)="onShowDoc()">
</i>
<i
  class="fas fa-redo-alt"
  (click)="onReset()">
</i>
<i
  class="text"
  (click)="onExampleButtonClick()">
  EXAMPLE
</i>

<div
  class="popup"
  [ngClass]="{ 'gone': !showExamplePopup }"
  (click)="onExampleClick($event)">
  <p
    [attr.data-number]="i + 1"
    *ngFor="let i of getNArray()">
    Example {{ i + 1 }}
  </p>
</div>

<div
  class="popup-touchout"
  [ngClass]="{ 'gone': !showExamplePopup }"
  (click)="onPopupTouchoutClick()">
</div>
