#solutionPanel > .result > .report {
    margin-top: 32px;
}

#solutionPanel > .result > .report > p {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

#examplePopup {
    display: inline-block;
    width: 240px;
    left: calc(100% - 240px);
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#examplePopup > p {
    height: 64px;
    padding: 16px 24px;
    margin: 0px;
    line-height: 28px;
    cursor: pointer;
}

#examplePopup > p:hover {
    background-color: #f0f0f0;
}

.showdoc-button-container {
    height: 24px;
    margin-bottom: 8px;
    z-index: 99999;
}

.showdoc-button-container > i {
    margin: 0px 16px;
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #FFCA28;
}

.showdoc-button-container > i.text {
    font-size: 16px;
    font-style: normal;
}

.h {
    transform: scaleY(0);
}

@media only screen and (min-width: 800px) {
    .page > .top-panel {
        width: 680px;
    }
}