<!-- ---------------------------------------- PAGE OPTIONS ---------------------------------------- -->
<div class="showdoc-button-container">
    <i class="far fa-question-circle"
        (click)="onShowDoc()"></i>
    <i class="fas fa-redo"
        (click)="onResetClick()"></i>
    <i class="text"
        (click)="onExampleButtonClick($event)">EXAMPLE</i>
</div>

<div id="examplePopup"
    [ngClass]="{ 'gone': !showExamplePopup }"
    (click)="onExampleClick($event)">
    <p data-number="1">Example 1</p>
    <p data-number="2">Example 2</p>
</div>

<!-- ---------------------------------------- PAGE DOCUMENTATION ---------------------------------------- -->
<app-page-documentation [hidden]="!showDocumentation"
                        [items]="pageDocumentation">
</app-page-documentation>

<!-- ---------------------------------------- EXAMPLE STATEMENT ---------------------------------------- -->
<app-example-statement [value]="example"></app-example-statement>

<!-- ---------------------------------------- TOP PANEL ---------------------------------------- -->
<div class="top-panel">
    <div class="time-input-container">
        <app-time-unit-selector [value]="_timeUnitId"
                                (valueChanged)="onTimeUnitChange($event)">
        </app-time-unit-selector>
    </div>
    <div>
        <div class="form-group">
            <label for="timeInput">
                Number of {{ timeUnitLabel.toLowerCase() }} to analyse
            </label>
            <input  id="timeInput"
                    [(ngModel)]="timeToAnalyse"
                    class="form-control"
                    type="number"
                    placeholder="Enter the number of time units">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="initialEmployeesInput">
                Initial number of employees
            </label>
            <input  id="initialEmployeesInput"
                    [(ngModel)]="model.initialNumberOfEmployees"
                    class="form-control"
                    type="number"
                    placeholder="Enter the initial number of employees">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="manpowerExcessInput">
                Manpower excess cost per worker per {{ timeUnitLabel.toLowerCase() }}
            </label>
            <input  id="manpowerExcessInput"
                    [(ngModel)]="model.manpowerExcessCost"
                    class="form-control"
                    type="number"
                    placeholder="Enter the manpower excess cost per time unit">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="newHireFixedInput">
                Fixed cost for hiring a new employee
            </label>
            <input  id="newHireFixedInput"
                    [(ngModel)]="model.newEmployeeFixedCost"
                    class="form-control"
                    type="number"
                    placeholder="Enter the fixed cost for new employees">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="newHireInput">
                Variable cost for hiring a new employee per {{ timeUnitLabel.toLowerCase() }}
            </label>
            <input  id="newHireInput"
                    [(ngModel)]="model.newEmployeePerTUCost"
                    class="form-control"
                    type="number"
                    placeholder="Enter the variable cost for new employees per time unit">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="fireEmployeeCostInput">
                Cost for firing an employee
            </label>
            <input  id="fireEmployeeCostInput"
                    [(ngModel)]="model.fireEmployeeCost"
                    class="form-control"
                    type="number"
                    placeholder="Enter the cost for firing an employee">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="quitEmployeesInput">
                Number of employees who decide to quit per {{ timeUnitLabel.toLowerCase() }}
            </label>
            <input  id="quitEmployeesInput"
                    [(ngModel)]="model.quitEmployeesPerTU"
                    class="form-control"
                    type="number"
                    placeholder="Enter the number of employees who quit each time unit">
        </div>
    </div>
    <div class="next-button-container">
        <button id="nextButton" 
                class="btn btn-primary"
                (click)="onNext()">
            Next
        </button>
    </div>
</div>

<!-- ---------------------------------------- TABULAR INPUT ---------------------------------------- -->
<div id="inputTable" 
    [ngClass]="{ 'h': inputDataStep == 0 }">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Time t ({{ timeUnitLabel.toLowerCase() }})
                </th>
                <th scope="col">
                    Workforce required (employees)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of model.workforcePerTU; let index = index">
                <th scope="row">{{ row.timeunit }}</th>
                <td>
                    <div class="form-group">
                        <input [(ngModel)]="model.workforcePerTU[index].workforce" 
                            type="number" 
                            class="form-control">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div [ngClass]="{ 
                    'gone': inputDataStep == 0,
                    'solve-button-pane': inputDataStep > 0 
                }">
    <button id="solveButton"
            class="btn btn-primary"
            (click)="onSolve()">
        Solve
    </button>
</div>

<!-- ---------------------------------------- SOLUTION PANEL ---------------------------------------- -->
<div id="solutionPanel"
    [ngClass]="{ 'gone': inputDataStep < 2 }">
    <div class="divider"></div>
    <div class="stages"
        *ngFor="let stage of solver.getStages()">
        <p>STAGE {{ stage.id + 1 }}</p>
        <div>
            Minimum Demand: <strong>{{ stage.minimumDemand }}</strong> employees
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">x_{{ stage.id }}</th>
                    <th scope="col">Cost (demand, cost)</th>
                    <th scope="col">min</th>
                    <th scope="col">x_{{ stage.id + 1 }}</th>
                </tr>
            </thead>
            <tbody *ngFor="let row of stage.rows">
                <tr>
                    <th scope="row">{{ row.previousX }}</th>
                    <td>{{ formatCost(row.cost) }}</td>
                    <td>{{ row.f }}</td>
                    <td>{{ row.x }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="result">
        <p>Result chains</p>
        <div class="chains-container">
            <div class="chain">
                <div class="chains" *ngFor="let item of solver.getPath()">
                    <span>{{ item }}</span>
                </div>
                <span class="end">END</span>
            </div>
        </div>
        <div class="report">
            <p>Report of results</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ timeUnitLabel }}</th>
                        <th scope="col">Minimum demand</th>
                        <th scope="col">Current demand</th>
                        <th scope="col">Interpretation</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody *ngFor="let stage of solver.getStages().slice().reverse()">
                    <tr>
                        <th scope="row">{{ stage.id + 1 }}</th>
                        <td>{{ stage.minimumDemand }}</td>
                        <td>{{ solver.getPath()[stage.id] }}</td>
                        <td>{{ solver.getInterpretation()[stage.id] }}</td>
                        <td>{{ solver.getCost()[stage.id] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>