<table class="table">
    <thead>
        <tr>
            <th scope="col"
                *ngFor="let headerItem of header"
                [innerHTML]="headerItem">
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let row of rows">
        <tr>
            <ng-container *ngFor="let key of keys(row); index as i">
                <th *ngIf="i == 0">
                    {{ row[key] }}
                </th>
                <td *ngIf="i > 0">
                    {{ row[key] }}
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>