:host {
    display: block;
}

:host > app-time-unit-selector {
    width: 100%;
}

:host > div {
    width: 100%;
    padding: 8px 0px;
}

:host > div > div {
    width: 100%;
    margin-bottom: 16px;
    vertical-align: top;
}

:host > div > div > div label {
    font-size: 14px;
}

:host > div > div > div.form-check label {
    font-weight: bold;
    color: #F57F17;
}

@media only screen and (min-width: 800px) {
    :host > div {
        padding: 8px 32px;
    }
    
    :host > div > div {
        display: inline-block;
        width: 42%;
        margin: 8px 4%;
    }
    
    :host > div > div > div label {
        font-size: 16px;
    }
    
    :host > div > div > div.form-group label.two-lines {
        height: 48px;
        line-height: 70px;
    }
}